<!doctype html>
<html>
<head> 
    <title>Interfeira - Compre e Venda {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css"
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Cadastro de {{titulo}}</h1>
        </div>

        <form action="/usuario/criar" method="post">
            <div class="form-group">
                <label for="user">Username</label>
                <input type="text" class="form-control" id="user" name="user">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" name="email">
                <small id="emailHelp" class="form-text text-muted">Insira seu e-mail para comprar e vender</small>
            </div> 

            <div class="form-group">
                <label for="passwd">Password</label>
                <input type="text" class="form-control" id="passwd" name="passwd">
            </div>

            <div class="form-group">
                <label for="end">Endereco</label>
                <input type="text" class="form-control" id="end" name="end">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="reset" class="btn btn-primary">Limpar</button>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Lista de {{titulo}}</h1>
        </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thread-default">
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Senha</th>
                    <th>Endereco</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.senha }}</td>
                        <td>{{ usuario.end }}</td>
                        <td><a href={{ url_for("editarusuario",id=usuario.id) }}>Editar?</a></td>
                        <td><a href={{ url_for("deletarusuario",id=usuario.id) }}>Deletar?</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>